body {
    height: 100vh;
}

.content_main {
    width: 100%;
    height: calc(100vh - 40px);
    margin: 0;
    display: grid;
}

.choosed_nav {
    background-color: var(--accent-color);
}

.nav_img {
    width: 30px;
    height: 30px;
    z-index: 1;
    margin: 10px;
}

.action_button {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
}

.unchoosed_item {
    background-color: var(--dark-primary-color);
}

.navigation_container {
    background-color: var(--dark-primary-color);
    display: grid;
}


.accept {
    background-image: url("../images/accept.png");

}

.cancel {
    background-image: url("../images/cancel.png");
}

/*for pc*/
@media all and (min-width: 600px) {

    .content_main {
        grid-template-columns: 50px 5fr 3fr;
        height: calc(100vh - 40px);
    }

    .navigation_container {
        grid-template-rows: 50px 50px 50px;
    }

    .nav_item {
        width: 50px;
        height: 50px;
    }

    .anket_container {
        position: relative;
    }

    .summary_container {
        background-color: var(--light-primary-color);
    }

    .card {
        position: absolute;
        width: 300px;
        height: 500px;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .action_button {
        position: absolute;
        top: 400px;
    }

    .accept {
        right: 25px;
    }

    .cancel {
        background-image: url("../images/cancel.png");
        left: 25px;
    }

    .anket_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }

    .anket_name {
        background-color: var(--dark-primary-color);
        text-align: center;
    }

    .info {
        margin: 16px;
    }

    .city {
        font-size: x-large;
    }

    .summary_text {
        margin-top: 32px;
        font-size: x-large;
    }
}

/*for mobile*/
@media all and (max-width: 600px) {

    .content_main {
        grid-template-rows: 50px auto;
        background-color: var(--light-primary-color);
    }

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 7;
    }

    .navigation_container {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        z-index: 5;
        position: fixed;
        top: 40px;
    }

    .nav_item {
        text-align: center;
    }

    .card {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 90px;
    }

    .anket_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .action_button {
        position: absolute;
        top: 50vh;
    }

    .accept {
        right: 10vw;
    }

    .cancel {
        left: 10vw;
    }

    .anket_name {
        width: 100%;
        height: 40px;
        background-color: var(--dark-primary-color);
        text-align: center;
    }

    .summary_container {
        position: absolute;
        padding-top: calc(100vh - 40px);
        z-index: 3;
        width: 100%;
    }

    .info {
        background-color: var(--light-primary-color);
        padding-left: 5vw;
        height: 35vh;
    }

    .summary_text {
        font-size: large;
    }

}