
.about_me_container {
    background-color: var(--light-primary-color);
}

.button {
    font-family: 'Bad Script';
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: large;
    background: var(--primary-color);
    border: none;
}

.change_photo {
    background: var(--accent-color);

}

@media all and (min-width: 600px) {
    .change_button_container {
        margin-left: 20px;
    }

    .my_photo {
        width: 100%;
        height: 99%;
        object-fit: cover;
        border-radius: 50px;
        padding: 15px;
    }

    .button {
        border-radius: 5px;
    }

    .text {
        padding: 20px;
    }
}

@media all and (max-width: 600px) {
    .main {
        display: grid;
        grid-template-rows: 40px auto;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "header" "content";
    }

    .header {
        grid-area: header;
        position: initial;
    }

    .content_main {
        display: grid;
        grid-template-rows: 50px 50vh auto;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "nav" "image" "text";
        grid-area: content;
    }

    .my_photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .my_photo_container {
        grid-area: image;

    }

    .about_me_container {
        grid-area: text;
        display: grid;
        grid-template-rows: 40px auto 50px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "name" "common" "buttons";
    }

    .change_button_container {
        grid-area: buttons;
        display: grid;
        grid-template-columns: 50vw 50vw;
    }

    .anket_name {
        grid-area: name;
    }

    .text {
        grid-area: common;
    }

    .navigation_container {
        grid-area: nav;
        position: initial;
        width: 100%;
    }

}