.settings_container {
    background-color: var(--light-primary-color);
}

.setting_label {
    font-size: xx-large;
    font-family: Pattaya;
    color: var(--dark-primary-color);
    margin-top: 30px;
}

.setting {
    margin-top: 20px;
    padding-left: 20px;

}

.setting_option {
    padding-left: 20px;

}

.setting_option {
    font-size: x-large;
}

#radio_male:checked ~ .gender_image_container .female_image {
    display: none;
}

#radio_female:checked ~ .gender_image_container .male_image {
    display: none;
}

.gender_image_container {
    position: absolute;
    right: 5vw;
    top: 7vh;
    width: 30vw;
    height: 90vh;
}

.gender_image {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.setting_option {
    margin-top: 30px;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio + label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 24px;
}

.radio + label:after {
    content: '';
    position: absolute;
    top: 85%;
    left: 10%;
    width: 80%;
    height: 4px;
    background: var(--accent-color);
    opacity: 0;
    transition: .2s;
    border-radius: 2px;
}

.radio:checked + label:after {
    opacity: 1;
}

.old_input {
    width: 48px;
    font-size: x-large;
    font-family: Pattaya;
    color: var(--accent-color);
    padding-left: 4px;
}


.checkbox {
    width: 24px;
    height: 24px;
}

@media all and (min-width: 600px) {
    .content_main {
        grid-template-columns: 50px auto;
    }
}

@media all and (max-width: 600px) {
    .content_main {
        grid-template-rows: 50px auto;
    }

    .header {
        position: initial;
    }

    .navigation_container {
        position: initial;
    }

    .gender_image_container {
        display: none;
    }
}