
.enter-container {
    background-color: var(--light-primary-color);
}


.enter-label {
    text-align: center;
    background-color: var(--primary-color);
}

.enter_text {
    font-family: 'Pattaya';
    color: var(--text-color);
}

.go-back-button {

    background-color: var(--primary-color);
    font-size: xx-large;

}

.go-back-button a {
    text-decoration: none;
    color: var(--text-color);

}

@media all and (min-width: 450px) {
    .inter_form {
        display: inline-block;
        text-align: center;
        padding: 20px;
        width: 400px;
    }


    .choose-enter-button {
        font-size: medium;
        padding: 2px 5px 2px 5px;
        margin-left: 250px;

    }

    .enter-button-container {
        margin-top: 15px;
    }

    .enter-container {
        width: 400px;
        margin: 0 auto;
        border-radius: 30px;
        margin-top: 20vh;

    }

    .enter-label {
        border-radius: 30px 30px 0 0;
    }


    .login_input {
        width: 100%;
        font-size: medium;
    }

    .go-back-button {
        position: absolute;
        left: 20px;
        top: 70px;
        padding: 0 10px 0 10px;
        border-radius: 25px;
    }

}

@media all and (max-width: 450px) {
    .enter-container {
        width: 100vw;
        height: calc(100vh - 50px);
    }

    .go-back-button {
        float: left;
        padding-left: 4vw;

    }

    .enter_text {
        text-align: center;
        margin-right: 10vw;
    }

    .inter_form {
        display: inline-block;
        text-align: center;
        padding: 3vh 1vw 3vh 1vw;
        width: 100%;
        height: 100%;

    }

    .enter-button-container {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .login_input {
        width: 100%;
        font-size: x-large;
    }

    .form_label {
        padding-top: 10vh;
    }

    .login_input {
        margin-top: 2vh;
        margin-bottom: 5vh;
    }

    .logo_big {
        display: none;
    }
}