:root {
    --dark-primary-color: #388E3C;
    --light-primary-color: #C8E6C9;
    --primary-color: #4CAF50;
    --text-color: #FFFFFF;
    --accent-color: #FF4081;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}


.common_text {
    font-family: 'Bad Script';
    color: var(--secondary-text);
}

.quote_text {
    font-family: 'Bad Script';
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

.big_text {
    font-family: 'Pattaya';
}

.white {
    color: var(--text-color);
}

.logo_text {
    font-family: 'Pattaya';
    color: var(--text-color);
}

.logo_big {
    background-color: var(--primary-color);
    height: 40px;
}

.choose-enter-button {
    font-family: 'Bad Script';
    color: var(--text-color);
    text-decoration: none;
}

.accent-background {
    background-color: var(--accent-color);
}

.primary-background {
    background-color: var(--primary-color);
}

.quote-text {
    font-size: xx-large;
}

.quote-author {
    font-size: x-large;
}

/*for pc*/
@media all and (min-width: 450px) {
    .logo_text {
        margin-left: 32px;
    }

    .body-image-background {
        height: 100vh;
        background-image: url(../images/start_background.jpg);
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: auto 100vh;
    }

    .main {
        height: 100vh;
        width: 100vw;
    }

    .start_content {
        text-align: center;
    }

    .select-enter-type {
        margin-top: 75vh;
    }

    .choose-enter-button {
        font-size: x-large;
        border-radius: 5px;
        padding: 5px 20px 5px 20px;
    }

    .quote-container {
        z-index: 3;
        position: absolute;
        top: 100px;
        margin-left: calc(100vw - 500px);
        text-align: right;
        width: 430px;
    }

    .mobile {
        display: none;
    }
}

/*for smartphone*/
@media all and (max-width: 450px) {
    .logo_text {
        text-align: center;
    }

    .body-image-background {
        width: 100%;
        background-image: url(../images/start_background_mobile.jpg);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 100vw auto;
    }

    .start_content {
        text-align: center;
        height: 100%;
    }

    .select-enter-type {
        margin-top: 70vh;
        width: 100vw;
    }

    .choose-enter-button {
        font-size: x-large;
        border-radius: 5px;
        padding: 5px 20px 5px 20px;
        display: inline-block;
    }

    .quote-container {
        display: none;
    }

    .pc {
        display: none;
    }
}
